<h3>Create an Account</h3>
<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
  <app-input inputType="text" label="Username" [control]="usernameControl" />
  <app-input inputType="password" label="Password" [control]="passwordControl" />
  <app-input inputType="password" label="Password Confirmation" [control]="passwordConfirmationControl" />
  <div
    *ngIf="authForm.get('password')?.touched && authForm.get('passwordConfirmation')?.touched && authForm.errors"
    class="ui red basic label"
  >
    <p *ngIf="authForm.errors['passwordsDontMatch']">Password and password confirmation do not match</p>
    <p *ngIf="authForm.errors['noConnection']">No internet connection detected, failed to sign up</p>
    <p *ngIf="authForm.errors['unknownError']">Failed to sign up</p>
  </div>
  <div>
    <button class="ui submit button primary">Submit</button>
  </div>
</form>
